@import "./book-card.css";
@import "./pagination.css";
@import "./e-books-container.css";

.category__books {
  margin-top: 100px;
}

.category__books-title {
  margin-bottom: 50px;
  text-align: center;
  font-size: 32px;
  line-height: 38px;
  color: var(--deep-blue, #091e3e);
  font-weight: 800;
  text-transform: uppercase;
}

.category__header-title,
.category__header-link {
  text-transform: capitalize;
}
