:root {
  --deep-blue: #091e3e;
  --white-text: #eef9ff;
  --white-background: #eef9ff;
  --white-border: #eef9ff;
  --bright-cyan: #40abb5;
  --semi-transparent-white: rgba(255, 255, 255, 0.1);
  --soft-gray: #e9ecef;
  --black-text: #000;
  --slate-gray: #6b6a75;
  --ocean-blue: #0582ae;
  --white: #ffffff;
  --transparent-black: #00000013;
  --semi-transparent: #00000026;
  --midnight-blue: #061429;
  --input-border: #f0f0f0;
}
 





/* #06a3da-before blue color(bright-cyan) */